.tooltip {
    font-family: "UberMove";
    position: absolute;
    padding: 4px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    max-width: 300px;
    font-size: 12px;
    line-height: 16px;
    z-index: 9;
    pointer-events: none;
  }  

.control-panel-ctrl {
    font-family: "UberMove";
    /* font-size: 1vw; */
    /* line-height: 15px; */
    /* width: 400px; */
    /* background: #fff; */
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); */
    /* margin: 24px; */
    margin-top: 10px;
    padding: 5px 5px;
    /* position: absolute; */
    /* top: 0px;
    right: 500px; */
    outline: none;
    cursor: auto;
}
  
.control-panel {
    font-family: "UberMove";
    font-size: 14px;
    line-height: 15px;
    /* width: 400px; */
    /* background: #fff; */
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); */
    /* margin: 24px; */
    /* padding: 5px 24px; */
    /* position: absolute; */
    /* top: 10px; */
    /* right: 0; */
    outline: none;
    cursor: auto;
}
  
  
  /* @media only screen and (max-width: 480px) {
    .control-panel {
      width: 300px;
      top: -15px;
      height: 130px;
    }
  } */
  
.control-panel h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 8px 0;
}
  
.control-panel a {
    display: inline;
}
  
.control-panel p, h3 {
    margin-bottom: 16px;
    color: CanvasText;
}

.control-panel .legend {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.control-panel hr {
    margin: 12px -24px;
}

.control-panel .source-link {
    text-align: right;
    margin-top: 8px;
    color: #2a2ca3;
}

.control-panel .source-link a {
    font-weight: bold;
    color: #2a2ca3;
    font-size: 11px;
}

.dark .control-panel .source-link {
    color: #67dbeb;
}

.control-panel .input {
    position: relative;
    display: flex;
    width: 100%;
}
  
.control-panel .input>* {
    vertical-align: middle;
    white-space: nowrap;
}

.control-panel .input label {
    text-transform: uppercase;
    width: 50%;
    margin-right: 10%;
    color: #486865;
    margin-bottom: 4px;
}

.control-panel .input input, .control-panel .input a {
    font-size: 0.9em;
    display: inline-block;
    padding: 0 4px;
    width: 40%;
    height: 20px;
    line-height: 1.833;
}

.control-panel .input input[type="checkbox"],
.control-panel .input input[type="radio"],
.control-panel .input input[type="color"] {
    width: 20%;
}

.control-panel .input input {
    border: solid 1px #ccc;
}

.control-panel .input input:disabled {
    background: #fff;
}

.control-panel .input input[type="checkbox"] {
    height: auto;
}
  
.control-panel .input .tooltip {
    left: 50%;
    top: 24px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms;
}

.control-panel .input:hover .tooltip {
    opacity: 1;
}


/**** The switch - the box around the slider ******/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}